<h1 mat-dialog-title>
  Edit Joke
</h1>
<div mat-dialog-content>
  <form
    #form="ngForm"
    novalidate
    class="example-container">
    <mat-form-field>
      <input
        matInput
        required
        placeholder="Title"
        name="title"
        #title="ngModel"
        [ngModel]="data.joke.title | titlecasefirstletter">
    </mat-form-field>
    <mat-error class="error" *ngIf="title.errors?.required">
      Title is <strong>required</strong>
    </mat-error>
    <mat-form-field>
      <textarea
        matInput
        required
        placeholder="Content"
        name="content"
        #content="ngModel"
        [ngModel]="data.joke.content">
      </textarea>
    </mat-form-field>
    <mat-error class="error" *ngIf="content.errors?.required">
      Content is <strong>required</strong>
    </mat-error>
    <mat-form-field>
      <mat-select
        placeholder="Category"
        name="category"
        #category="ngModel"
        [ngModel]="data.joke.category">
        <mat-option *ngFor="let item of data.selectOptions" [value]="item">
          {{ item | titlecasefirstletter }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-stroked-button
    (click)="onNoClick()">
    Cancel
  </button>
  <button
    (click)="updateJoke(form.value, data.joke.id)"
    mat-stroked-button
    color="primary"
    [ngStyle]="{ marginLeft: '10px' }"
    mat-dialog-close 
    cdkFocusInitial
    [disabled]="form.invalid">
    Update joke
  </button>
</div>
