.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  mat-sidenav {
    background: #3b5998;
    color: #fafbfd;
    width: 250px;
    div {
      position: relative;
      top: 80px;
    }
  }

  mat-sidenav-content {
    display: flex;
    justify-content: center;
  }
}
